h1, p{
    color: rgb(233, 233, 233);
    font-size: 50px;
    text-shadow: 0px 0px 10px rgb(12, 126, 202);
    font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: center;

}
html{
    background-color: black;
}

.links{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    height: 30px;
    width: 200px;
    color: rgb(233, 233, 233);
    font-size: 20px;
    text-shadow: 0px 0px 10px rgb(202, 12, 12);
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    border-radius: 10px;
}
.links a{
    color: rgb(19, 17, 17);
    font-size: 20px;
    text-shadow: 0px 0px 10px rgb(12, 126, 202);
    font-family: Arial, Helvetica, sans-serif;  
    margin-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
a:hover{
    color: rgb(28, 236, 0);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
}